@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  .header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 120px;
   margin-right: 70px;
  }
  .nav-element{
   margin-right: 15px;
   text-decoration: none;
   font-weight: 400;
   font-size: 16px;
   min-width: none;
  }
  .first-page{
   display: flex;
   margin-left: 120px;
   font-weight: 400;
  }
  .first-page-header{
   font-size: 54px;
   font-weight: bold;
  }
  .btn-first-page{
   width: 116px;
   height: 24px;
   background-color: #E02C6D;
   border-radius: 41px;
   color: #FFFFFF;
  }
  /* Responsive Starting */
 
  
  .image-one{
   position: relative;
  }
  .image-two{
   position: absolute;
   right: 0px;
  }
  
  .first-page-second-part{
   width: 1110px;
   height: 110px;
   margin-left: 120px;
   text-align: center;
   display: grid;
   grid-template-columns: repeat(7,1fr);
   margin-top: 40px;
  }
  @media screen and (max-width: 576px) {
    .first-page-second-part {
        grid-template-columns: repeat(2, 1fr); /* Stacks items in two columns */
        grid-auto-rows: 100px; /* Keeps row height consistent */
        width: 100%; /* Ensures it fits within smaller screens */
        margin-left: 0; /* Centers content if needed */
    }
}
  .second-page{
   width: 1072px;
   height: 1662px;
   margin-left: 120px;
   display: grid;
   grid-template-columns: repeat(3,5fr);
   box-shadow: black;
  }
  @media screen and (max-width:576px) {
    .second-page{
        grid-template-columns: repeat(1,1fr);
    }
    
  }
  .popular-heading{
   text-align: center;
  }
  

 